EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyAJUUR2dFtyPvijiMq7xsvrzMnd16bCSMo
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyCWX4L4y4Qi--ooSiklKBtoXpEJQice6mQ
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=emu-incidents.firebaseapp.com 
EXPO_PUBLIC_FIREBASE_PROJECT_ID=emu-incidents
EXPO_PUBLIC_ANDROID_APP_ID=1:841200945180:android:478bd4639595b9484bb7d9
EXPO_PUBLIC_WEB_APP_ID=1:841200945180:web:08e09744b8f5b0f14bb7d9
EXPO_PUBLIC_FIREBASE_PROJECT_NUMBER=841200945180

iOS Bundle_ID=com.emualerts.ios`					
iOS APP_ID=1:841200945180:web:08e09744b8f5b0f14bb7d9`			
iOS Encoded APP_ID_ID=app-1-841200945180-ios-4dc22ec453f698f44bb7d9`

- **Cloud Function Ingest:**  
  `https://us-central1-emu-incidents.cloudfunctions.net/ingestBNN`		-
- **Webhook Endpoint (Testing):**  
  `https://webhook.site/43ef608c-bb3f-400e-96ee-3a0338126c09`			
- **Google Sheets API:**  
  `1vg-JXhPz9t2MY1gMWkTI_6Yd4Qi8DtbPrI9M4wvOu3I`				