EXPO_PUBLIC_FIREBASE_API_KEY=__YOUR_API_KEY__
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=__YOUR_AUTH_DOMAIN__
EXPO_PUBLIC_FIREBASE_PROJECT_ID=__YOUR_PROJECT_ID__
EXPO_PUBLIC_FIREBASE_APP_ID=__YOUR_APP_ID__
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=__YOUR_MESSAGING_SENDER_ID__
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=__YOUR_STORAGE_BUCKET__
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=__YOUR_GOOGLE_MAPS_API_KEY__


